* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

/* body {
  min-height: 3000px;
  height: 3000px;
}

.book {
  background-color: bisque;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
} */
